$blue: #283ba7;
$off_white: #d4c8b8;
$black: #050505;
$gray: #494844;
$brown: #5c3520;
$brown: #9c5e3c;
$gray_brown: #30261d;
$white: #ffffff;
$teal: #2f3847;
$green: #384937;

$mainbackground: #2c50ee;

$service-selector-background: #7b8fe9;
$service-selector-background-hover: #0020b1;
$service-selector-background-disabled: #a3a3a357;
