$blue: #283ba7;
$off_white: #d4c8b8;
$black: #050505;
$gray: #494844;
$brown: #5c3520;
$brown: #9c5e3c;
$gray_brown: #30261d;
$white: #ffffff;
$teal: #2f3847;
$green: #384937;

$main-font: #ffffff;

$mainbackground: linear-gradient(#425266 35%, #4f699c);
$input-box-shadow: #566786;
$select-box-shadow: #566786;
$button-background: #03132b;
$button-background-hover: #2f3847;
$button-border: #03132b;
$button-border-focus: #566786;
$button-border-hover: #566786;

$form-success-color: #4f63ff;
$form-success-border: #4f63ff;
$form-error-color: #ff5252;
$form-error-border: #ff5252;

$service-selector-background: #7b8fe9;
$service-selector-background-hover: #5f7af3;
$service-selector-background-active: #3a5bf0;
$service-selector-background-disabled: #a3a3a357;
$service-selector-border: #ffffff49;

$utility-container-background: #0e0e0e33;
$utility-button-color: #412e16;
$utility-button-color-hover: #03132b;
$utility-button-background: #d4c8b8;
$utility-button-background-focus: #dd9d4a;
$utility-button-background-hover: #dd9d4a;
$utility-button-border-color: #d4c8b8;
$utility-button-border-color-focus: #dd9d4a;
$utility-button-border-color-hover: #dd9d4a;

$utility-checkbox-color: #75aafa;
$utility-checkbox-background-before: #524e4993;
$utility-checkbox-border-before: #7b8fe9;
$utility-checkbox-border-checked: #7b8fe9;
$utility-checkbox-border-disabled: #03132b;
